### Welcome to the InfluxDB configuration file.
reporting-disabled = true
bind-address = ":8088"

[meta]
  dir = "/data/meta"
  hostname = "localhost"
  bind-address = ":8088"
  retention-autocreate = true
  logging-enabled = true
  pprof-enabled = false
  lease-duration = "1m0s"

[data]
  enabled = true
  dir = "/data/db"
  engine = "tsm1"
  wal-dir = "/data/wal"
  wal-logging-enabled = true
  query-log-enabled = true
  cache-max-memory-size = 524288000
  cache-snapshot-memory-size = 26214400
  cache-snapshot-write-cold-duration = "1h"
  compact-full-write-cold-duration = "24h"
  compact-min-file-count = 3
  max-points-per-block = 1000 
  data-logging-enabled = true

[cluster]
  write-timeout = "10s"
  max-concurrent-queries = 0
  query-timeout = "0s"
  max-select-point = 0
  max-select-series = 0
  max-select-buckets = 0

[retention]
  enabled = true
  check-interval = "30m"

[snapshot]
  enabled = true

[shard-precreation]
  enabled = true
  check-interval = "10m"
  advance-period = "30m"

[admin]
  enabled = true
  bind-address = ":8083"
  https-enabled = false
  https-certificate = "/etc/ssl/influxdb.pem"

[monitor]
  store-enabled = true
  store-database = "_internal"
  store-interval = "10s"

[subscriber]
  enabled = true

[continuous_queries]
  log-enabled = true
  enabled = true
  run-interval = "1s"

[http]
  enabled = true
  bind-address = ":8086"
  auth-enabled = false
  log-enabled = true
  write-tracing = false
  pprof-enabled = false
  https-enabled = false
  https-certificate = "/etc/ssl/influxdb.pem"
  max-row-limit = 10000

[[graphite]]
  enabled = false

[collectd]
  enabled = false

[opentsdb]
  enabled = false

[[udp]]
  enabled = false
